header{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header img{
    height: 48px;
    padding: 12px 0px 12px 12px;
}

.banner img{
  height: auto;
  max-width: 100%;
  aspect-ratio: 5/1;
  object-fit: cover;
}

.main_dishes img{
  height: auto;
  max-width: 100%;
  aspect-ratio: 5/1;
  object-fit: cover;
}

table{
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
}

tr{
display: flex;
justify-content: space-between;
}

.content_wrapper{
  display: flex;
}

.content{
  width: calc(100% - 300px);
  flex-grow: 1;
}

.basket_wrapper{
  width: 300px;
  flex-grow: 1;
  border: 1px solid black;
  padding-bottom: 50px;
}

.main_dishes h2 {
  background-color: orange;
}

h1 {
  font-size: 34px;
}

.basket_table {
  display: flex;
}

.basket_table th {
  font-size: 24px;
}

.basket_table tr {
  align-items: center;
}

.basket_table td {
  display: flex;
  padding: 5px;
  gap: 5px;
}