header{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header img{
    height: 48px;
    padding: 12px 0px 12px 12px;
}

.banner img{
  height: auto;
  max-width: 100%;
  aspect-ratio: 5/1;
  object-fit: cover;
}

.main_dishes img{
  height: auto;
  max-width: 100%;
  aspect-ratio: 5/1;
  object-fit: cover;
}

table{
  border: 1px solid black;
  width: 100%;
}

tr{
display: flex;
justify-content: space-between;
}

.content{
  width: calc(100% - 300px);
  flex-grow: 1;
}

.basket_wrapper{
  width: 300px;
  flex-grow: 1;
  border: 1px solid black;
}