@media(max-width:650px){
    .basket{
        display: none;
    }
}

@media(min-width:650px){
    .responsive_basket_button{
        display: none;
    }
}

@media(max-width:370px){
    nav a{
        font-size: 16px;
    }
}

@media(max-width:500px){
    footer h3{
        font-size: 16px;
    }
}

@media(max-width:500px){
    .footer_logo{
        height: 40px;
    }
}

@media(max-width:450px){
    .social_media_section{
        display: none;
    }
}

@media(max-width:650px){
    .overlay_text{
        font-size: 30px;
    }
}

@media(max-width:390px){
    .overlay_text{
        font-size: 24px;
    }
}