*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
}

.content_max_width{
    max-width: 1440px;
}

main {
    display: flex;
}

header{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header img{
    height: 70px;
    padding: 12px 0px 12px 12px;
}

footer{
    height: 80px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_logo{
    height: 58px;
    padding: 12px 0px 12px 12px;
}

.social_media_section img{
    height: 58px;
    padding: 12px 0px 12px 12px;
}

nav{
    display: flex;
    gap: 24px;
    background-color: rgba(240, 240, 240, 0.8);
    margin-top: 20px;
}

nav a{
    font-size: 24px;
    color: black;
    text-decoration: none;
}

nav a:hover{
    color: orange;
}